.education{

min-height:100vh;

padding:120px 8%;

 background: transparent;

color:white;

position:relative;

overflow:hidden;

}

.education::before{

content:"";

position:absolute;

right:-150px;

top:-150px;

width:500px;

height:500px;

background:#0A84FF;

filter:blur(220px);

opacity:.12;

}

.education>*{

position:relative;

z-index:1;

}

.education h2{

text-align:center;

font-size:56px;

font-weight:800;

margin-bottom:70px;

background:linear-gradient(90deg,#fff,#8ab4ff);

background-clip:text;

-webkit-background-clip:text;

color:transparent;

-webkit-text-fill-color:transparent;

}

.education-container{

max-width:1100px;

margin:auto;

display:flex;

flex-direction:column;

gap:35px;

}

.education-card{

display:flex;

gap:35px;

padding:35px;

border-radius:24px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.education-card:hover{

transform:translateY(-10px);

border-color:#0A84FF;

box-shadow:0 20px 50px rgba(10,132,255,.2);

}

.year{

min-width:180px;

font-size:24px;

font-weight:700;

color:#8ab4ff;

}

.details{

flex:1;

}

.details h3{

font-size:30px;

margin-bottom:10px;

}

.details h4{

font-size:18px;

color:#b6b6b6;

margin-bottom:15px;

}

.details p{

line-height:1.8;

color:#b6b6b6;

margin-bottom:20px;

}

.status{

display:inline-block;

padding:10px 22px;

border-radius:40px;

background:rgba(10,132,255,.15);

border:1px solid rgba(10,132,255,.3);

color:#8ab4ff;

}

@media(max-width:768px){

.education{

padding:100px 7%;

}

.education h2{

font-size:42px;

}

.education-card{

flex-direction:column;

}

.year{

min-width:100%;

}

.details h3{

font-size:24px;

}

}