.scroll-progress{

    position:fixed;

    top:0;

    left:0;

    height:4px;

    background:linear-gradient(
        90deg,
        #0A84FF,
        #6dd5fa
    );

    z-index:9999;

    transition:width .1s linear;

    box-shadow:
        0 0 12px rgba(10,132,255,.6);

}
/* ===================================
   Apple Glass Scrollbar
=================================== */

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,.25) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar{
    width:7px;
}

::-webkit-scrollbar-thumb{
    background:rgba(255,255,255,.08);
    border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
    background:rgba(255,255,255,.20);
}

::-webkit-scrollbar-corner{
    background:transparent;
}