.footer{

    padding:60px 8%;

    border-top:1px solid rgba(255,255,255,.08);

    text-align:center;

}

.footer h2{

    font-size:36px;

    margin-bottom:12px;

}

.footer p{

    color:#9ca3af;

}

.footer-socials{

    display:flex;

    justify-content:center;

    gap:25px;

    margin:35px 0;

}

.footer-socials a{

    width:55px;

    height:55px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:50%;

    background:rgba(255,255,255,.05);

    color:white;

    font-size:22px;

    transition:.3s;

}

.footer-socials a:hover{

    background:#0A84FF;

    transform:translateY(-5px);

}

.heart{

    color:#ff4d6d;

}