/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root{

--bg:#050505;

--bg2:#0d0d0d;

--card:rgba(255,255,255,.05);

--glass:rgba(255,255,255,.08);

--border:rgba(255,255,255,.10);

--white:#ffffff;

--gray:#A1A1AA;

--blue:#0A84FF;

--blue2:#5AC8FA;

--radius:24px;

--transition:.35s ease;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:var(--bg);

color:var(--white);

font-family:"Inter",sans-serif;

overflow-x:hidden;

}

section{

padding:90px 8%;

scroll-margin-top:120px;

}

img{

display:block;

max-width:100%;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

cursor:pointer;

}